* {
    /* 
    -May want to add "border-box for "box-sizing so padding does not affect width
    -Reset margin and padding 
   */
  }

  body {
    /* 
      -Background color is #344a72
    */
  }

  a {
    /* 
    Underlined links are ugly :)
   */
  }

  #container {
    /* 
    -Remember, margin: auto on left and right will center a block element 
    -I would also set a "max-width" for responsiveness
    -May want to add some padding
    */
  }

  .form-wrap {
    /* 
      This is the white area around the form and heading, etc
    */
  }

  .form-wrap h1,
  .form-wrap p {
    /* 
      May want to center these
    */
  }

  .form-wrap .form-group {
    /* 
      Each label, input is wrapped in .form-group
    */
  }

  .form-wrap .form-group label {
    /* 
      Label should be turned into a block element
    */
  }

  .form-wrap .form-group input {
    /* 
      Inputs should reach accross the .form-wrap 100% and have some padding
    */
  }

  .form-wrap button {
    /* 
      Button should wrap accross 100% and display as block
      Background color for button is #49c1a2
    */
  }

  .form-wrap button:hover {
    /* 
      Hover background color for button is #37a08e
    */
  }

  .form-wrap .bottom-text {
    /* 
      Bottom text is smaller
    */
  }

  footer {
    /* 
    Should be centered
   */
  }

  footer a {
    /* 
      Footer link color is #49c1a2
    */
  }